.loader {
  @apply relative mx-auto block h-12 w-12;
  border-radius: 50%;
  border: 3px solid #fff #fff transparent transparent;
  animation: rotation 1s linear infinite;
  &::after,
  &::before {
    content: '';
    @apply absolute left-0 right-0 top-0 bottom-0 m-auto h-12 w-12;
    border: 6px solid;
    border-color: transparent transparent #0066ff #0066ff;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  &::before {
    @apply h-8 w-8;
    border-color: #fff #fff transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
