@import 'styles/mixins';

.track {
  @apply grid items-center rounded-lg p-2;
  @include gridTable;
  font-family: 'Montserrat', sans-serif;
  transition: all 1s cubic-bezier(0.14, 0.65, 0.15, 1);
  &:hover {
    background-color: rgba(153, 193, 255, 0.1);
    .trackIndex {
      @apply hidden;
    }
    .controlPanel {
      @apply block;
    }
    .equalizer {
      display: none !important;
    }
    .favorite {
      @apply visible;
    }
  }
  &:not(:last-child) {
    @apply mb-4;
  }
}

.trackIndex {
  @apply text-base;
}

.controlPanel {
  @apply hidden cursor-pointer text-center;
}

.title {
  @apply inline-block text-xl text-primary hover:underline;
}

.featuring {
  @apply text-base font-medium text-primary-light;
}

.equalizer {
  @apply mx-auto hidden cursor-pointer;
}

.favorite {
  @apply invisible cursor-pointer;
}

.currentTrack {
  @apply bg-primary-blue-light;
  &:hover {
    @apply bg-primary-blue-light;
  }
}
