.volume {
  @apply flex items-center gap-5;
}

.volumeRange {
  @apply h-[0.625rem] w-60 cursor-pointer rounded-[1.875rem] bg-[#dedede] outline-none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &::-moz-range-thumb {
    -moz-appearance: none;
    @apply h-4 w-4 bg-[#29a7fd] opacity-0 transition-opacity duration-300 ease-in-out;
    border-radius: 1.875rem;
    margin-top: -0.16rem;
  }
  &::-ms-track {
    appearance: none;
    height: 0.625rem;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply h-4 w-4 bg-[#29a7fd] opacity-0 transition-opacity duration-300 ease-in-out;
    border-radius: 1.875rem;
    margin-top: -0.16rem;
  }
  &::-moz-slider &:active::-webkit-slider-thumb {
    background-color: #14a0ff;
  }
  &:hover::-webkit-slider-thumb {
    @apply visible opacity-100;
  }
  &::-ms-thumb {
    @apply appearance-none rounded-[1.875rem] bg-primary-blue;
    height: 0.625rem;
    width: 0.625rem;
  }
  @media (max-width: 1024px) {
    width: 7rem;
  }
}
