@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#ffffff] text-xl font-bold text-primary;
  font-family: 'Montserrat', sans-serif;
}

.css-dev-only-do-not-override-diro6f a:hover {
  color: currentColor;
}

.ant-modal .ant-modal-close {
  place-items: center;
  display: grid;
}

.ant-modal .ant-modal-close-x {
  display: flex;
}

.player-button {
  @apply cursor-pointer active:scale-90;
}
