.navigation {
  @apply fixed bottom-0 z-50 w-full bg-white shadow;
}

.controlPanel {
  @apply grid;
  grid-template-columns: [info-start] 1fr [control-center] 1fr [volume-end] 1fr;
}

.infoArtist {
  @apply flex items-center gap-4;
}

.title {
  @apply cursor-pointer text-2xl line-clamp-2 hover:underline;
  color: #4a4b52;
}

.featuring {
  @apply text-base font-medium line-clamp-1;
  color: #949497;
}

.control {
  @apply flex items-center justify-center gap-4;
  &:not(:nth-child(2)) {
    > svg path {
      stroke: #8a8f96;
    }
  }
}

.volume {
  @apply flex items-center justify-end gap-4;
  padding-right: 3.125rem;
}

.iconStyles > path {
  stroke: #8a8f96;
  stroke-width: 2.5;
}

.closeNavigation {
  @apply absolute top-4 right-2 cursor-pointer rounded-sm;
  transition: all 500ms cubic-bezier(0.14, 0.65, 0.15, 1);
  &:hover {
    @apply bg-gray-200;
  }
}

.icon {
}

@media (max-width: 1024px) {
  .title {
    @apply text-base;
  }
  .featuring {
    @apply text-sm;
  }
  .infoArtist .control,
  .volume {
    @apply gap-2;
  }
  .volume {
    @apply pr-2;
  }
}

.adaptivePlayer {
  @apply hidden;
}

@media (max-width: 768px) {
  .controlPanel {
    @apply flex items-center gap-3 pr-2;
  }
  .infoArtist {
    @apply mr-auto;
  }
  .control {
    @apply w-fit gap-0;
  }
  .icon {
    @apply hidden;
  }
  .adaptivePlayer {
    @apply block;
  }
}
